<h1>Welcome to Restofy</h1>
<!-- 
<input type="text" id="latitude" />
<input type="text" id="longitude" />
<input type="text" id="zoom" />
<button type="button" id="search">Click me!</button> -->

<input type="text" id="latitude" />
<button type="button" id="search">Click me!</button>
<!-- <div id='map'></div> -->
