/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {
	background-color: #1F1F1F;
	color: #ECECEC;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}

body {
	height: 100%;
	margin: 0 0;
}

a {
	font-size: 20px;
	text-decoration: none;
	color: #64E700;
}

ul {
	right: 0;
	/*display: block;*/
}

li {
	display: inline-block;
	margin: 0 0.25em;
}

.restofy-home {
	left: 0;
}

#map {
	position: absolute;
	height: 100%;
	width: 65%;
}

.application-sidebar {
	position: fixed;
	right: 0;
	width: 35%;
	height: 100%;
	overflow: scroll;
}

.nav {
	position: fixed;
	float: right;
	height: 10%;
	background-color: #2C2C2C;
	width: 35%;
}

.restaurant-index {
	height: 90%;
	float: right;
	margin-top: 3.5em;
}

.ul-content {
	border-top: 1px solid #D9FFD7;
	border-bottom: 1px solid #D9FFD7;
	background-color: #1F1F1F;
	color: #ECECEC;
	transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.ul-content:hover {
	background: #444444;
	color: #68FF60;
}

.restaurant-ul li a {
	display: block;
}

.restaurant-ul li.restaurant-name-li a {
	font-size: 2em;

}

.restaurant-ul li.restaurant-detail-li a {
	color: #ECECEC;
	font-size: 1em;
}

.profile-image {
	width: 200px;
}

.profile-form {
	width: 200px;
}

@media screen and (min-width: 320px) {
	html { font-size: 1em; }
	#map { position: absolute; top: 0; height: 50%; width: 100%; }
	.application-sidebar { bottom: 0; height: 50%; width: 100%; }
	.restaurant-ul li.restaurant-name-li a { font-size: 1em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 0.75em; }
}

@media screen and (min-width: 640px) {
	html { font-size: 1.25em; }
	#map { position: absolute; top: 0; height: 50%; width: 100%; }
	.application-sidebar { bottom: 0; height: 50%; width: 100% }
	.restaurant-ul li.restaurant-name-li a { font-size: 1.25em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 0.8em; }
}

@media screen and (min-width: 960px) {
	html { font-size: 1.5em; }
	#map { position: absolute; top: 0; height: 100%; width: 65%; }
	.application-sidebar { bottom: 0; height: 100%; width: 35%; }
	.restaurant-ul li.restaurant-name-li a { font-size: 1.5 em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 0.9em; }
}

@media screen and (max-width: 2880px) and (min-width: 1280px) {
	html { font-size: 1.75em; }
	#map { position: absolute; top: 0; height: 100%; width: 65% }
	.application-sidebar { bottom: 0; height: 100%; width: 35%; }
	.restaurant-ul li.restaurant-name-li a { font-size: 1.75em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 1em; }
}
