<<<<<<< HEAD
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html {
	background-color: #1F1F1F;
	color: #ECECEC;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}

=======
>>>>>>> mugshepherd-mapbox-test
body {
  color:#404040;
  font:400 15px/22px 'Helvetica Neue', Sans-serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
}
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
h1 {
  font-size:22px;
  margin:0;
  font-weight:400;
}
a {
  color:#404040;
  text-decoration:none;
}
<<<<<<< HEAD

ul {
	right: 0;
	/*display: block;*/
}

li {
	display: inline-block;
	margin: 0 0.25em;
=======
a:hover { color:#101010; }

.sidebar {
  position:absolute;
  width:33.3333%;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  border-right:1px solid rgba(0,0,0,0.25);
}
.pad2 {
  padding:20px;
>>>>>>> mugshepherd-mapbox-test
}
.quiet {
  color:#888;
}
.map {
  position:absolute;
  left:33.3333%;
  width:66.6666%;
  top:0;bottom:0;
}
<<<<<<< HEAD

.application-sidebar {
	position: fixed;
	right: 0;
	width: 35%;
	height: 100%;
	overflow: scroll;
}

.nav {
	position: fixed;
	float: right;
	height: 10%;
	background-color: #2C2C2C;
	width: 35%;
}

.restaurant-index {
	height: 90%;
	float: right;
	margin-top: 3.5em;
}

.ul-content {
	border-top: 1px solid #D9FFD7;
	border-bottom: 1px solid #D9FFD7;
	background-color: #1F1F1F;
	color: #ECECEC;
	transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
=======
.heading {
  background:#fff;
  border-bottom:1px solid #eee;
  height:60px;
  line-height:60px;
  padding:0 10px;
}
.listings {
  height:100%;
  overflow:auto;
  padding-bottom:60px;
>>>>>>> mugshepherd-mapbox-test
}
.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}
<<<<<<< HEAD

.restaurant-ul li a {
	display: block;
}

.restaurant-ul li.restaurant-name-li a {
	font-size: 2em;

}

.restaurant-ul li.restaurant-detail-li a {
	color: #ECECEC;
	font-size: 1em;
=======
.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#00853e;
  font-weight:700;
}
.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}

::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#00853e;
  border-radius:0;
>>>>>>> mugshepherd-mapbox-test
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

/* Marker tweaks */
.leaflet-popup-close-button {
  display:none;
}
.leaflet-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:200px;
}
.leaflet-popup-content-wrapper {
  padding:0;
}
.leaflet-popup-content h3 {
  background:#91c949;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
}
.leaflet-popup-content div {
  padding:10px;
}
<<<<<<< HEAD

@media screen and (min-width: 320px) {
	html { font-size: 1em; }
	#map { position: absolute; top: 0; height: 50%; width: 100%; }
	.application-sidebar { bottom: 0; height: 50%; width: 100%; }
	.restaurant-ul li.restaurant-name-li a { font-size: 1em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 0.75em; }
}

@media screen and (min-width: 640px) {
	html { font-size: 1.25em; }
	#map { position: absolute; top: 0; height: 50%; width: 100%; }
	.application-sidebar { bottom: 0; height: 50%; width: 100% }
	.restaurant-ul li.restaurant-name-li a { font-size: 1.25em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 0.8em; }
}

@media screen and (min-width: 960px) {
	html { font-size: 1.5em; }
	#map { position: absolute; top: 0; height: 100%; width: 65%; }
	.application-sidebar { bottom: 0; height: 100%; width: 35%; }
	.restaurant-ul li.restaurant-name-li a { font-size: 1.5 em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 0.9em; }
}

@media screen and (max-width: 2880px) and (min-width: 1280px) {
	html { font-size: 1.75em; }
	#map { position: absolute; top: 0; height: 100%; width: 65% }
	.application-sidebar { bottom: 0; height: 100%; width: 35%; }
	.restaurant-ul li.restaurant-name-li a { font-size: 1.75em; }
	.restaurant-ul li.restaurant-detail-li a { font-size: 1em; }
}
=======
.leaflet-container .leaflet-marker-icon { cursor:pointer; }
>>>>>>> mugshepherd-mapbox-test
