/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('http://fonts.googleapis.com/css?family=Lato');


html {
	background-color: #1F1F1F;
	color: #ECECEC;
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	height: 100%;
	margin: 0 0;
}

a {
	font-size: 20px;
	text-decoration: none;
	color: #64E700;
}

nav {
	text-align: center;
	background-color: #2C2C2C;
	width: 100%;
	padding: 2px 0;
}

li {
	margin: 0 1em;
	display: inline-block;
}

.restofy-home {
	left: 0;
}

#map {
	position: absolute;
	height: 100%;
	width: 65%;
}

.restaurants-index {
	position: fixed;
	right: 0;
	width: 35%;
	height: 100%;
	overflow: scroll;
}

.ul-content {
	border: 1px solid #D9FFD7;
	background-color: #1F1F1F;
	color: #ECECEC;
	transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.ul-content:hover {
	background: #444444;
	color: #68FF60;
}

.restaurant-ul li.restaurant-name-li a {
	font-size: 27px;

}

.restaurant-ul li.restaurant-detail-li a {
	color: #ECECEC;
}

.profile-image {
	width: 200px;
}

.profile-form {
	width: 200px;
}
