<div class="restaurants-index">
	
	<% @restaurants.each do |restaurant| %>
		<div class="ul-content">
		<ul class="restaurant-ul">
			<li class = "restaurant-name-li"><%= link_to restaurant.name, restaurant %></li>
			<li class= "restaurant-detail-li"><%= link_to restaurant.address, restaurant %></li>
		</ul>
		</div>
	<% end %>
	
</div>