<div class="restaurants-index">
	
	<% @restaurants.each do |restaurant| %>
		<div id='info' class="ul-content">
		<ul class="restaurant-ul">
			<li class = "restaurant-name-li"><%= restaurant.name%></li>
			<li class= "restaurant-detail-li"><%=restaurant.address%></li>
		</ul>
		</div>
	<% end %>
	
</div>